body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 12px;
  font-size: 10px;
  line-height: 20px;
  color: blue;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.legend i {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  opacity: 0.8;
}
